# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
pytest_cache/
nosetests.xml
test-results.xml

# PyCharm
.idea/

# VS Code
.vscode/

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Pytype
.pytype/

# Pylint
.pylint.d/

# dotenv environment variables
.env
.env.*

# macOS and Linux
.DS_Store
